$white: #ffffff;
$black: #000000;
$lightGray: #E8E8E8;
$darkGray: #282828;
$blue: #2d74e5;
$link: #E59E2D;
$linkAlt: #2DE59E;
$linkHover: #E5CC2D;
$linkAltHover: #2DE5CC;
$border: #DCDCDC;
$twitter: #38A1F3;
$github: #333333;
$warning: #E59E2D;
$error: #AC2222;
