$primary: #1976d2;
$p-light: #63a4ff;
$p-dark: #004ba0;

$background: #ffffff;
$surface: #ffffff;
$error: #b71c1c;
$warning: #f4511e;

$on-primary: #ffffff;
$on-background: #000000;
$on-surface: #000000;
$on-error: #000000;

$white: #ffffff;
$black: #000000;

$lightGray: #f0f0f0;
$gray: #e8e8e8;
$darkGray: #282828;
$blue: #2d74e5;
$link: #e59e2d;
$linkAlt: #2de59e;
$linkHover: #e5cc2d;
$linkAltHover: #2de5cc;
$border: #dcdcdc;
$twitter: #38a1f3;
$github: #333333;
$warning: #e59e2d;
$error: #ac2222;
